@import "../../variables.css";

.item {
  display: flex;
  flex-direction: column;
  width: 180px;
  border: 2px solid var(--bg-seal-brown);
  border-radius: 15px;
  gap: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  background-color: var(--bg-antique-white);
}

.item-image {
  width: 180px;
  height:150px ;
  object-fit: cover;
  object-position: 90% 0%;
  border-radius: 15px 15px 0 0;
}

.main-info {
  font-size: 1rem;
  text-align: center;
  color: var(--black-bean);
}

.item-flavor {
  height: 15px;
}

.item-complement {
  font-size: 0.8rem;
  opacity: 0.44;
  height: 10px;
}

.item-price {
  text-align: center;
}
