@import "../../variables.css";

.item {
  display: flex;
  flex-direction: column;
  width: 180px;
  border: 2px solid var(--bg-seal-brown);
  border-radius: 15px;
  gap: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  background-color: var(--bg-antique-white);
}

.item-image {
  width: 180px;
  height:150px ;
  object-fit: cover;
  object-position: 90% 0%;
  border-radius: 15px 15px 0 0;
}

.item-name {
  font-size: 1rem;
  text-align: center;
}

.item-price {
  text-align: center;
}
