@import "../../variables.css";

.logo{
 align-items: center;
}

.container-form {
  width: 75%;
}

.text-center{
  font-size: 0.9rem;
}

.text-span{
  color: var(--black-bean);
}

.text-link{
  font-weight: bold;
  color: var(--white);
}
