@import "../../variables.css";

.count-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.count-button {
  width: 40px;
  height: 40px;
  background-color: var(--bg-orange);
  border: none;
  border-radius: 100%;
  font-size: 1.5rem;
  cursor: pointer;
}
