.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

.button {
  width: 75%;
  height: 35px;
  border: none;
  border-radius: 8px;
  background-color: #823B01;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
}
