.item-detail {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: var(--black-bean);
}

.item-additional{
  display: flex;
  font-size: 0.9rem;
  gap:5px;
  padding-left: 7%;
  color: var(--black-bean);
}

.item-button {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.item-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.trash-can {
  background-color: transparent;
  border: none;
}
