@import "../../variables.css";

.orders-card {
  display: flex;
  flex-direction: column;
  width: 180px;
  border: 2px solid var(--bg-seal-brown);
  border-radius: 15px;
  gap: 5px;
  padding: 10px;
  margin-bottom: 20px;
}
