@import "../../variables.css";

.container{
  width: 100vw;
  margin: 0 auto;
}

.container-flexbox{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-layout {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--bg-seal-brown);
}

.container-content{
  width: 400px;
  background: var(--bg-yellow);
  border-radius: 10px;
  padding: 50px;
  flex-direction: column;
  gap:10px;
  margin-bottom: 50px ;
}
