.orders-history-container {
  display: flex;
  padding: 2% 0;
  width: 100%;
  height: calc(100vh - var(--header-height));
  background-color: var(--bg-seal-brown);
}

.container-ul {
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--bg-seal-brown);
}

.orders-container {
  margin: 2% auto ;
  width: 90%;
  height: 90%;
}
