.kitchen-container{
  display: flex;
  padding: 2% 0;
  background-color: var(--bg-seal-brown);
  width: 100%;
  height: calc(100vh - var(--header-height));
}

.orders-container{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  gap:10px;
}
