:root {
  --black-bean:#390E00;
  --bg-seal-brown:#5E210C;
  --chocolate: #823B01;
  --bg-antique-white:#FFF1DF;
  --white:#ffffff;
  --orange-dark:#C16101;
  --bg-orange:#FF8601;
  --bg-yellow: #F5A717;
  --header-height: 100px;
}
