@import "../../variables.css";

.container-main {
  width: 100vw;
  height: calc(100vh - 130px);
  display: flex;
  flex-direction: row;
}

.menu-section {
  overflow: auto;
  height: 100%;
  width: 70%;
  background-color: var(--bg-seal-brown);
}

.container-button {
  display: flex;
  height: 70px;
  width: 80%;
  margin: auto;
}

.button-menu {
  height: 50px;
  font-size: 1.5rem;
}

.button-container-left {
  justify-content: flex-end;
  margin: 0;
}

.button-container-right {
  justify-content: flex-start;
  margin: 0;
}

  background-color: var(--bg-seal-brown);
.container-products {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  gap:10px;
}

.order-section {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-antique-white);
}

.order-title {
  text-align: center;
  margin: auto;
  color: var(--orange-dark);
  font-weight: 600;
  font-size: 1.5rem;
  padding-top: 20px;
}

.inputs-order {
  display: flex;
  gap:10px;
  width: 100%;
}

.input-size {
  width: 90%;
}

.items-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: auto;
  height: 75%;
  margin-bottom: 30% ;
  background-color: var(--bg-antique-white);
}

.button-count-order {
  width: 25px;
  height: 25px;
  background-color: var(--bg-orange);
  border: none;
  border-radius: 100%;
  font-size: 1.5rem;
  cursor: pointer;

}

.total-order-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 20px;
  gap:10px;
  background-color: var(--bg-antique-white);
}

.total-order {
 display: flex;
 justify-content: space-between;
 width: 100%;
}
